body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.login-container {
    background-color: aqua;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-align: left;
    width: 250px;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px; /* Προσθήκη κενών για καλύτερη μορφοποίηση */
}
input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    cursor: pointer;
    background-color: lightblue;
    padding: 10px;
    width: 30%;
}
